.footer {
    width: 100%; 
    height: max-content ;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem ;
    padding: 3rem 4rem ;
}

.footer .about p {
    color: #eee;
    line-height: 2rem ;
    text-align: center;
}

.footer h4 {
    text-transform: uppercase; 
    color: #fafafa;
    margin-bottom: 1.5rem ;
    text-align: center;
}

.footer .me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 10rem ;
    height: 10rem ;
    border-radius: 50% ;
    object-fit: cover;
    object-position: top;
    margin-bottom: 1rem ;
}

.footer .social {
    display: flex;
    gap: 2rem ;
}

.footer i {
    color: #eee;
    font-size: 1.5rem;
}

.footer .me p {
    margin-bottom: 1rem ;
    color: #eee;
}

.footer__cont .developer {
    display: flex;
    align-items: center;
    background-color: #333;
    border-top: 1px solid #000;
    justify-content: space-between;
    padding: 0 8rem ;
    color: #eee;
    height: 6rem ;
    flex-wrap: wrap;
}

.developer .left {
    margin: auto;
}

.developer .right {
    margin: auto;
}

.developer .right {
    display: flex;
    flex-direction: column;
    gap: 1rem ;
}

.developer .right .login__link {
    color: #eee;
    text-decoration: none;
    transition: all .2s ;
    text-align: center;
    text-decoration: underline;
}

.developer .right .login__link:hover {
    color: #fff;
    font-size: 1.1rem ;
}

@media only screen and (max-width: 600px) {
    .footer__cont .developer {
        padding: 0 4rem ;
    }
}

@media only screen and (max-width: 460px) {
    .footer {
        padding:2rem ;
        font-size: 0.8rem ;
    }
    .footer .about p {
        line-height: 1.5rem ;
    }

    .footer__cont .developer {
        padding: 0 1rem ;
        font-size: 0.9rem ;
    }
}