.header {
  background-color: #d4f1f4;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.31);
}

.header img {
  height: 3.4rem;
}

.header__nav {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  height: 100%;
}

.header .main {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  height: 100%;
}

.header .main .item {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.5s;
  position: relative;
}

.header .main .item:not(:last-child):hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.header .main .item.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: royalblue;
  bottom: -0.4rem;
  left: 0;
  animation: moveLeftRight 0.8s;
}

@media only screen and (max-width: 750px) {
  .header {
    padding: 0.4rem 1rem;
  }
  .header .main {
    display: none;
  }
  .header__nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: max-content;
    padding: 3rem 0;
    justify-content: center;
    flex-direction: column;
    background-color: #d4f1f4;
    gap: 1.2rem;
    animation: moveDown 0.2s;
  }

  .header__nav .item {
    font-size: 1.2rem;
  }
  .menu__icon {
    display: flex !important ;
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    top: 40%;
  }
  100% {
    opacity: 1;
    top: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .header img {
    height: 3.2rem !important;
  }
}

.header .menu__icon {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 2.5rem !important;
}

.header__nav .item {
  text-decoration: none;
  font-size: 0.9rem;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  transition: all 0.5s;
  position: relative;
}

.header__nav .item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.header__nav .item.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: royalblue;
  bottom: -0.4rem;
  left: 0;
  animation: moveLeftRight 0.8s;
}

@keyframes moveLeftRight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .item.current {
    border-bottom: 2px solid royalblue;
} */

.tags_cont {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1rem 0;
}
