* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  /* background-color:  #6C6392; */
  background-color: #05445e;
}

.home {
  position: relative;
}

.btn__cont {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
